.dash-card {
  background: #ffffff;
  box-shadow: 0px 0px 1.16154px rgba(0, 0, 0, 0.1),
    0px 0px 5.80769px rgba(0, 0, 0, 0.1);
  border-radius: 3.48462px;
  margin: 20px;
  padding: 20px;
}
.d-hr {
  background: #000000;
  opacity: 0.1;
  padding: 0.5px;
  margin-bottom: 20px;
}
.t-title {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  /* identical to box height */
  text-transform: capitalize;

  color: #000000;
}
.t-detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.t-card {
  background: #ffffff;
  box-shadow: 0px 0px 2.16px rgba(0, 0, 0, 0.1),
    0px 0px 6.81px rgba(0, 0, 0, 0.1);
  border-radius: 3.48462px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.t-info {
  text-align: end;
}
.t-card .t-info p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;

  /* identical to box height */
  text-align: right;
  text-transform: capitalize;

  /* Black */
  color: #000000;
}
.t-card .t-info h3 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  /* identical to box height */
  text-align: right;
  text-transform: capitalize;

  /* Black */
  color: #000000;
}
.t-img {
  padding-top: 20px;
}
