.sigin-frame {
  margin-top: 10%;
}
.signin-menu {
  margin: auto;
  width: 23%;

  padding: 10px;
  box-shadow: 1px 1px 15px rgba(163, 163, 163, 0.25);
  border-radius: 7.8626px;
}
.add-signin {
  margin-left: 10px;
  margin-right: 10px;
}
.outline {
  outline-style: none;
}
.add-signin label {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  /* identical to box height */

  color: #3a3b3f;
}
.add-signin input[type="text"] {
  border: 1.5px solid rgba(99, 99, 99, 0.25);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
}
::placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #636363;
}

.addsignin-submit input[type="submit"] {
  width: 100%;
  background: #2d2d9a;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14.58px;
  line-height: 17px;
  text-transform: capitalize;

  color: #ffffff;
  cursor: pointer;
  border: 1.5px solid rgba(99, 99, 99, 0.25);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.signin-title p {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 23.5878px;
  line-height: 28px;
  text-align: center;
  text-transform: capitalize;

  color: #111111;
}
.signin-description p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;

  /* or 167% */
  text-align: center;
  letter-spacing: 0.02em;

  color: #111111;
}
