.addLand-title p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  /* identical to box height */
  text-transform: capitalize;

  /* 111111 */
  color: #242424;
  /* padding-bottom: 10px; */
  text-align: left;
}
.hr {
  border: 0.5px solid #1c2d43;
  opacity: 0.22;
  border-radius: 7.09924px;
  margin-bottom: 20px;
}

.outline {
  outline-style: none;
}
.add-land label {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  /* identical to box height */

  color: #3a3b3f;
}
.add-land input[type="text"] {
  border: 1.5px solid rgba(99, 99, 99, 0.25);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
}
.add-land input[type="number"] {
  border: 1.5px solid rgba(99, 99, 99, 0.25);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
}
.add-land input[type="datetime"] {
  border: 1.5px solid rgba(99, 99, 99, 0.25);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
}

::placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #636363;
}
.add-land input[type="submit"] {
  border: 1.5px solid rgba(99, 99, 99, 0.25);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.add-land input[type="reset"] {
  border: 1.5px solid rgba(99, 99, 99, 0.25);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.addland-submition {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-left: 130px;
}
.addland-reset input[type="reset"] {
  width: 100%;
  border: 2px solid #636363;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;

  color: #636363;
  cursor: pointer;
}
.addland-submit input[type="submit"] {
  width: 100%;
  background: #2d2d9a;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
  cursor: pointer;
}
.addland-reset {
  margin-top: 20px;
}
.addland-submit {
  margin-top: 20px;
}

.errors {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: red;
}
.addland-title p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  /* identical to box height */
  text-transform: capitalize;

  /* 111111 */
  color: #242424;
  /* padding-bottom: 10px; */
  text-align: left;
}
.hr {
  border: 0.5px solid #1c2d43;
  opacity: 0.22;
  border-radius: 7.09924px;
  margin-bottom: 20px;
}
