.paginationBttns {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.paginationBttns a {
  padding: 5px;

  margin: 8px;

  border: none;

  cursor: pointer;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14.1176px;
  line-height: 17px;
  text-transform: capitalize;

  color: #121212;
}

.paginationBttns a:hover {
  color: #ffffff;
  background: #2d2d9a;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 8px;
}

.paginationActive a {
  color: #ffffff;
  background-color: none;
  background: #2d2d9a;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 8px;
}
.pageNumber img {
  margin-top: 2px;
}
.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
  margin-top: 20px;
}
.show-result p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  /* identical to box height */

  color: #3c3c3c;
}
