.trandetails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.tran-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: #2d2d9a;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.tran-title p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height */
  letter-spacing: 0.02em;

  /* White */
  color: #ffffff;
  padding-left: 20px;
}
.trandetails p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;

  /* identical to box height, or 164% */
  text-transform: capitalize;

  color: #2f2f2f;
  padding-left: 20px;
}
.tran-header p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height */
  text-transform: capitalize;

  /* Primary */
  color: #2d2d9a;
  padding-left: 20px;
}
.tran-add {
  text-align: right;
  margin-bottom: 30px;
}
.tran-add button {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  /* identical to box height */
  letter-spacing: 0.02em;

  /* Primary */
  color: #2d2d9a;
  border: 2px solid #2d2d9a;
  box-sizing: border-box;
  border-radius: 20px;
  margin-right: 20px;
  padding: 10px;
  background: #ffff;
  cursor: pointer;
}
.tableData{
  overflow: scroll;
}

@media screen and (max-width: 800px) {
 .main-board{
  grid-template-columns: 1fr !important;
  }
  .navigation{
    display: none;
  }

  .tableData div{
    width: 700px;
  }
  
}
